@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
    margin: 0px;
    padding: 0px;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body, .viewport {
    min-height: 100vh;
    position: relative;
}

.tile-btn {
    height: 80px;
    width: 80px;
    background: rgba(99,99,99,0.2);
    cursor: pointer;
    transition: rotate 0.2s;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    &:hover {
        transform: rotate(-3deg);
    }
}

.viewport {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;

    .settings {
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(3, auto);
        row-gap: 20px;
        column-gap: 20px;

        .pallets {
            
        }
        .saveload {

        }
        .more {

        }
        .area {
            grid-column: 1 / 4;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;

            .pallets {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                background: rgba(99,99,99,0.2);
            }
        }
    }

    .cardContainer {
        grid-row: 2 / 3;
        grid-column: 2 / 3;

        display: grid;
        grid-template-rows: repeat(3, auto);
        row-gap: 20px;

        .config {
            display: grid;
            grid-template-columns: auto auto 1fr auto;
            column-gap: 20px;

            .hide {

            }
            .skip {

            }
            .reset {
                grid-column: 4 / 5;
            }
        }

        .card {
            width: 486px;
            height: 380px;
            background: rgba(99,99,99,0.2);
            display: grid;
            row-gap: 20px;
            grid-template-rows: 1fr repeat(3, 100px) 1fr;
            grid-template-columns: 1fr auto 1fr;

            .english {
                grid-row: 3 / 4;
                grid-column: 2 / 3;
                background: rgba(99,99,99,0.2);
                width: 220px;
                height: 80px;
                padding: 10px;
                overflow-y: scroll;
            }

            .pinyin {
                grid-row: 3 / 4;
                grid-column: 2 / 3;
                width: 220px;
                height: 80px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3.5rem;
                background: rgba(99,99,99,0.2);
            }
            .simplified {
                grid-row: 4 / 5;
                grid-column: 2 / 3;
                width: 220px;
                height: 80px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                background: rgba(99,99,99,0.2);
            }
        }
            
        

        .actions {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;

            .question {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                display: flex;
                justify-content: flex-end;

                .reveal {
                    
                }
            }
            .answer {                
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                display: flex;
                column-gap: 20px;
                justify-content: flex-end;

                .incorrect {
    
                }
                .correct {
    
                }
            }
        }
    }
}
